@import "mocha.css"; 

* {
    font-family: "CaskaydiaCove Nerd Font", monospace;
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: rgba(10, 0, 80, 0.7);
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 10px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px solid @rosewater;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px solid @mauve
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#power,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#mpris,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

#custom-power {
    color: @red;
    margin-right: 2px;
}


#clock {
    color: @maroon;
    border-top: 2px solid @maroon;
    margin-top: 2px;
}

#clock.date {
    color: @mauve;
    border-top: 2px solid @mauve;
    margin-top: 2px;
}

#pulseaudio {
    color: @blue;
    border-top: 2px solid @blue;
    margin-top: 2px;
}

#network {
    color: @yellow;
    border-top: 2px solid @yellow;
    margin-top: 2px;
}

#memory {
    color: @flamingo;
    border-top: 2px solid @flamingo;
    margin-top: 2px;
}

#cpu {
    color: @peach;
    border-top: 2 solid @peach;
    margin-top: 2px;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
    margin-top: 2px;
}

#idle_inhibitor.activated {
    color: @red;
    margin-top: 2px;
}

#battery {
    color: @green;
    border-top: 2px solid @green;
    margin-top: 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#mpris.playing {
    color: #a6e3a1;
    margin-top: 2px;
}

#mpris.paused {
    color: #9399b2;
    margin-top: 2px;
}
